.flex-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  min-height: 100vh;
  margin-top: 12px;
}

.card-category {
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 130px;
  margin-top: 15px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  p {
    color: white;
    font-family: 'Roboto Condensed';
    font-size: 21px;
    font-weight: 700;
    margin-top: 60px;
    height: 30px;
  }
}

.index-background {
  background: linear-gradient(180deg, #000000 0%,#080033 30% );
}

.title {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.8);
  top: 80px;
  padding: 15px;
  border: 1px solid white;
  border-radius: 1px;
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: center;
  h1 {
    color: white;
    margin-bottom: 0;
    font-weight: 300;
  }
}

.to-top:hover { text-decoration: none; }
