.navbar {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 0;
  a {
    color: white;
    font-size: 18px;
    margin: 12px;
    font-weight: 400;
    &:hover { color: rgba(210, 210, 210, 0.5); text-decoration: none; }
  }
  img {
    width: 50px;
    margin: -3px 5px 0 0;
  }
}

.languages {
  display: flex;
  color: white;
  margin: 0;
  p { margin: -3px 0 0 5px; }
}

.tabs {
  margin: -3px 0 0 -105px;
}
